<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="name.demula.chinpun"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service
            android:name=".services.SessionManagerService"
            android:enabled="true">
            <intent-filter>
                <action android:name="name.demula.chinpun.UPDATE_USER"/>
                <action android:name="name.demula.chinpun.START_SESSION"/>
                <action android:name="name.demula.chinpun.UPDATE_SESSION"/>
            </intent-filter>
        </service>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="name.demula.chinpun.USER_UPDATED"/>
                <action android:name="name.demula.chinpun.SESSION_STARTED"/>
                <action android:name="name.demula.chinpun.SESSION_UPDATED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver
            android:name=".widgets.ChinpunWidget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="name.demula.chinpun.SESSION_UPDATED"/>
                <action android:name="name.demula.chinpun.SESSION_STARTED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/chinpun_widget_info"/>
        </receiver>
    </application>

</manifest>